div{
    /*background-color: rgba(255 , 0, 0, 0.473);*/
    width: 100px;
    height: 100px;
   /* opacity: 0.5;*/
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
/*div:hover{
    background-color: rgba(0 ,128 , 0, 0, 0.491);
}
a:hover{
    color: green;

}
a:active{
    color: yellow
}
a:visited{
    color: orange;
}*/
/*p::first-letter{
    font-size: 20px;
    font-weight: bolder;
}
p::first-line{
    color: brown;
}
input::placeholder{
    color: lightgreen;
}
ol ::marker{
    color: lightgreen;
}*/
/*div:hover{
    transform: translate(600px)rotate(350deg);
    transition-duration: 0.5s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}*/
@keyframes move {
    from{
        transform: translateY(0px) rotate(0deg);
    }
    to{
        transform:translateY(300px) rotate(368deg) ;
    }
}
div img{
    height: 100px;
    width: 100px;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: move 2s ease-in 0s infinite alternate;
}