/*.main{
    background-color: green;
    width: 500px;
    height: 500px;
    position: relative;
}*/
/*.sub{
    background-color: red;
    width: 100px;
    height: 100px;
   /* position: relative; */
   /* position: sticky;
    top: 30px;
    right: 0px;
    
}
.main2{
    width: 500px;
    height: 100vh;
    background-color: yellow;
}
.fix{
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
}*/
/*.main{
    background-color: red;
    height: 100px;
    display: inline-block;
}
.main2{
    background-color: blueviolet;
    height: 100px;
    display: inline;
}
a{
    height: 100px;
    display: block;
    background-color: purple;
}*/
.main{
   /* width: 500px;*/
    height: 500px;
    background-color: green;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sub{
    height: 100px;
    width: 100px;
    background-color: black;
    color: brown;
}
