body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.solar{
position: relative;
width: 400px;
height: 400px;
}

.sun{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.orbit{
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation:spin 5s linear infinite;
}
.earth{
    width: 40px;
    height: 40px;
    position: absolute;
    top:-20px;
    left: 105px;
}
@keyframes spin{
    from{
         transform:rotate(0deg); 
    }
    to{
        transform:rotate(360deg);
    }
}